/* Styels in Index Page */
body {
  font-family: 'Playfair Display', serif;
}

/* Styles in Sign up Page */
.login-img img {
  height: 100%;
  object-fit: cover;
}
.sign-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



